[v-cloak] > * { display:none }
[v-cloak]::before {
    content: "loading...";
    padding-left: 20px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
  }

.page-title {
    display: block;
    border-bottom: 1px solid silver;
    font-weight: 800;
    font-size: 2em;
    color: silver;
}

.router-link-active {
  color: aqua;
}
  .acikTeklifler p  {
    font-size: 20px;
    border-bottom:solid 1px #000;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .acikTeklifler thead {
    background: #ddd;
  }

  .profile label {
    font-size: 15px;
    font-weight: 600;
  }

  .profile .title p {
    font-size: 20px;
    color:#333;
    font-weight: 600;
    padding-bottom: 7px;
    border-bottom:solid 1px #ddd;
  }

  .profile .form-control {
    height: 30px;
    padding: 5px 18px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
  }

  .profile .form-control:focus {
    box-shadow: none;
  }


    .login {
      position: absolute;
      top:50%;
      left: 50%;
      transform:translate(-50%, -50%);
      text-align: center;
    }

    .login form {
      border:solid 1px #dddd;
      padding: 1.5rem;
    }

    .login h1 {
      margin-top: 15px;
      font-size: 12px;
      font-weight: 600;
    }

    .login form .form-control {
      max-width: 100%;
      max-height: 32px;
      padding: 9px 18px 10px 18px;
      font-size: 13px;
      resize: none;
      border: none;
      border: 1px solid #333;
      border-radius: 0;
      background: none;
      color:#333;
      border-left:none;
    }

    .login form .input-group-text {
      background: none;
      border-right:none;
    }
    .login form .form-control:focus {
      outline: 0;
      box-shadow:none;
    }

    .login form .input-group-prepend {
      margin-right: 0;
      border:solid 1px;
      border-color:#333;
      border-right: none;
    }

    .login form .sifre {
      font-size: 10px;
      color:#333;
    }

    .login form .loginBtn  button{
      background: green;
      border:none;
      outline: none;
      color: white;
      padding: 5px 15px;
      font-size: 13px;
    }
