.profile {
  padding-top: 25px;
  &__title {
    @include mainTitle;
    padding-bottom: 8px;
    font-size: 22px;
  }
  &__edit {
    float: right;
    padding-bottom: 12px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    user-select: none;
    letter-spacing: 1px;
    color: white;
    padding: 6px 22px;
    text-transform: uppercase;
    transition: all 0.4s ease-out;
    background: $black;
    cursor:pointer;
    &:hover {
      box-shadow: 0px 0px 6px $black;
    }
  }
  &__info, &__password {
    padding-top: 1rem;
  }
  &__itemtitle {
    @include mainTitle;
    width: 150px;
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
    font-size: 14px;
  }
  &__itemcontent {
    @include mainContent;
  }
}
